.registro {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* Dos imágenes con el formulario en el centro */
  gap: 20px;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.imgRegistro,
.imgRegistro1 {
  width: 100%;
  height: auto;
  display: block;
}

.form-container {
  /* background-color: rgba(255, 255, 255, 0.9); */
  color: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
  font-weight: bold;
}

form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form i {
  position: relative;
  right: 10px;
}



.password-group {
  display: flex;
  justify-content: space-between;
  /* Opcional, espacio entre campos */
  gap: 20px;
  /* Añadir un espacio entre los dos campos */
}

.password-field {
  display: flex;
  flex-direction: column;
  /* Asegura que el label y el input estén alineados verticalmente */
  width: 100%;
}

button {
  position: relative;
  padding: 12px 35px;
  background: #94c745;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border: 3px solid #94c745;
  border-radius: 8px;
  /* box-shadow: 0 0 0 #a0cc5f; */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  color: #a0cc5f;
  /* box-shadow: 0 0 25px #a0cc5f; */
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

@media (max-width: 768px) {

  .left-image,
  .right-image {
    display: none;
  }

  .registro {
    display: block;
  }

  .password-group{
    display: block;
  }
}